ipydex
pyyaml
colorama
questionary
django<4.0
django-bleach
django-nose
jinja2
gitpython
yamlpyowl>=0.2.1
# the following should be migrated to the environment specification:
control
# the following need additional system packages (see dockerfile): gfortran libblas-dev liblapack-dev
slycot
casadi
symbtools
pytrajectory
tabulate
