{% load static %}

<!DOCTYPE html>
<html><head lang="en">

<!-- this template was orignially based on https://github.com/fsfw-dresden/ldap-dingens -->

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link type="text/css" rel="stylesheet" href="{% static 'ackrep_web/bootstrap.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'ackrep_web/style.css' %}">

    <link rel="icon" type="image/png"       href="{% static 'ackrep_web/img/favicon.png' %}">

    {{ "475"|json_script:"http_status_code" }}

    <title>Automatic Control Knowledge Repository</title>
</head>
<body>
<script>0</script> <!--prevent flash of unstyled content-->
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        <h1><a href="/">Automatic Control Knowledge Repository</a></h1>

<!-- block content-->
{% block content %}
{% endblock  %}
<!-- /block content-->
        </div>
    </div>
</div>



<footer>

<div class="container">
<div class="row">
    <div class="col-md-6 col-md-offset-3">
<!-- include footer-->
       {% include "ackrep_web/footer.html"%}
<!-- / include footer-->
    </div>
</div>
</div>
</footer>

</body></html>
