<h1><a href="/">Automatic Control Knowledge Repository</a></h1>


<span class="javascript_prompt" id="javascript_msg">
    <b>You currently have javascript disabled. Some features will be unavailable. Please consider enabling javascript.</b>
</span>
<script type="text/javascript">
    document.getElementById("javascript_msg").style.display = "none";
</script>

<div id="navbar">
    <a href="/">Home</a>
    <a href="{%url 'entity-list'%}">Entity List</a>
    <a href="{%url 'entity-overview'%}">Entity Overview</a>
    <!-- <a href="{%url 'merge-request-list'%}">Merge Request List</a> -->
    <a href="{%url 'search-sparql'%}">Search</a>
</div>