{% extends "ackrep_web/base.html" %}




{% block content %}
<a href="{%url 'login'%}">Log in</a>



<h3>General Information</h3>
This page is a placeholder for the ackrep-webservice which is currently still under construction.
Meanwhile, for more information you can have a look at the repositories:
<a href="https://github.com/cknoll/ackrep_data">ackrep_data</a>,
<a href="https://github.com/cknoll/ackrep_core">ackrep_core</a> and
<a href="https://github.com/cknoll/ackrep_core/tree/main/ackrep_web">ackrep_web</a>.
{% endblock  %}
