{% extends "ackrep_web/base.html" %}

{% block content %}

{# for unit and integration testing: write the actual number of entities into the html code #}
{{ nr_of_entities|json_script:"nr_of_entities" }}

<h3>General Information</h3>
<p>
    This page is a very early prototype of the <b>ackrep-webservice</b> which is currently under construction.
    For background information,  see the repositories
<a href="https://github.com/cknoll/ackrep_data">ackrep_data</a>,
<a href="https://github.com/cknoll/ackrep_core">ackrep_core</a> and
<a href="https://github.com/cknoll/ackrep_core/tree/main/ackrep_web">ackrep_web</a>.
</p>

<h3>Available Functions</h3>

<ul class="list-group">
<li class="list-group-item"><a id="link_entity_list" href="{%url 'entity-list'%}">List all entities in database (currently: {{ nr_of_entities }})</a></li>
<li class="list-group-item"><a id="link_merge_request_list" href="{%url 'merge-request-list'%}">List all merge requests</a></li>
<li class="list-group-item"><a id="link_new_merge_request" href="{%url 'new-merge-request'%}">New merge request</a></li>
<li class="list-group-item">

    <div class="pseudocol w69">Update database from canonical repo</div>
    <div class="pseudocol w30">
    <form action="{%url 'update-database'%}" method="POST">
        {% csrf_token %}
        <button id="btn_submit_update_db" class="button100" type="submit">Run</button>
    </form>
    </div>

</li>
</ul>


{% endblock  %}
