{% extends "ackrep_web/base.html" %}

{% block content %}

<h3>Search entities in ontology</h3>

{% if err %}
<div class="errorbox">
    <pre>{{ err }}</pre>
</div>
{% endif %}

<form action="{% url 'search-sparql' %}" method="GET" class="styled_form">
<!--    {% csrf_token %}-->
    <label for="query">SPARQL query:</label>
    <textarea id="query" name="query">{{ query }}</textarea>
    <br>
    <button id="btn_mr_submit" type="submit">Search</button>
</form>

{% if query %}
<code>
<pre>
{{ query }}
</pre>
</code>
{% endif %}

<b>Help and Examples for SPARQL Syntax:</b>
[
<label for="show">
    <span class="fake_button">Show</span>
</label>
<input type=radio id="show" name="group">
/
<label for="hide">
    <span class="fake_button"> Hide</span>
</label>
<input type=radio id="hide" name="group">
]
<span id="content">
    SPARQL queries can be read as a very simple sentence of subject, predicate (sometimes a auxiliary verb such as "has"
     or "is" is implied), object. E.g.
    <code style="display:block; white-space:pre-wrap">
    SELECT ?book
    WHERE
    {
        ?book has_author MarkTwain.
    }
    </code>
    selects all books of the author Mark Twain existing in the database. Depending on where the subject, predicate or
    object is defined, different prefixes have to be prepended (e.g. "rdf:", "rdfs:" for
    <a href="https://www.w3.org/TR/rdf-sparql-query/#docNamespaces">general namespaces</a> and "P:" for the
    <a href="https://github.com/ackrep-org/ackrep_data/blob/main/ontology/ocse-prototype-01.owl.yml">ackrep-specific namespace</a>).
    For a more detailed introduction to SPARQL Queries, see
    <a href="https://www.wikidata.org/wiki/Wikidata:SPARQL_tutorial#SPARQL_basics">Wikidata SPARQL tutorial</a>.
    <br><br>
    <b>Some examples of usefull queries in the ackrep context: </b>
    <br>
    Find the entity with a given key (e.g. UXMFA):
    <code style="display:block; white-space:pre-wrap">
    PREFIX : &lt;erk:/builtins#&gt;
    PREFIX ocse: &lt;erk:/ocse/0.2#&gt;
    SELECT ?entity
    WHERE {
        ?entity ocse:R2950 "UXMFA".
    }
    </code>
    or if the label is known, but the short key (R2950) isn't:
    <code style="display:block; white-space:pre-wrap">
    PREFIX : &lt;erk:/builtins#&gt;
    PREFIX ocse: &lt;erk:/ocse/0.2#&gt;
    SELECT ?entity
    WHERE {
        ?entity ?relation "UXMFA".
        ?relation :R1 "has corresponding ackrep key".
    }
    </code>
    <br>
    Get all relations of all exising system models:
    <code style="display:block; white-space:pre-wrap">
        PREFIX : &lt;erk:/builtins#&gt;
        PREFIX ocse: &lt;erk:/ocse/0.2#&gt;
        SELECT ?relation
        WHERE {
            ?entity ?relation ?o.
            ?entity :R4 ocse:I7641.
        }
    </code>
    Get all relations that have a system model as first argument:
    <code style="display:block; white-space:pre-wrap">
        PREFIX : &lt;erk:/builtins#&gt;
        PREFIX ocse: &lt;erk:/ocse/0.2#&gt;
        SELECT ?relation
        WHERE {
            ?relation :R8 ocse:I7641.
        }
    </code>
    Note the difference between the two preceding queries!
    <br>
    <br>
    Get all pyerk items:
    <code style="display:block; white-space:pre-wrap">
        PREFIX : &lt;erk:/builtins#&gt;
        PREFIX ocse: &lt;erk:/ocse/0.2#&gt;
        SELECT ?item
        WHERE {
            ?item (:R4|:R3)* :I1
        }
    </code>
    <br>
    <b>Some more useful and complex queries:</b><br>
    Find all system models that are represented by a partial differential equation:
    <code style="display:block; white-space:pre-wrap">
        PREFIX : &lt;erk:/builtins#&gt;
        PREFIX ocse: &lt;erk:/ocse/0.2#&gt;
        SELECT ?entity
        WHERE {
            ?entity :R4 ocse:I7641.
            ?entity ocse:R2928 ?representation.
            ?representation :R4 ocse:I8063.
        }
    </code>
    <br>
    Find all system models that have system order of 3 and are autonomous
    <code style="display:block; white-space:pre-wrap">
        PREFIX : &lt;erk:/builtins#&gt;
        PREFIX ocse: &lt;erk:/ocse/0.2#&gt;
        SELECT ?entity
        WHERE {
            ?entity :R4 ocse:I7641.
            ?entity ocse:R2928 ?r.
            ?r ocse:R3898 3.
            ?entity :R16 ocse:I5718.
        }
    </code>
    <br>
    <b>Note: Tags of problems and solutions are depricated and will soon be implemented in pyerk.</b>
    <br>
    Select all ackrep entities that use linear state feedback:
    <code style="display:block; white-space:pre-wrap">
        PREFIX : &lt;erk:/builtins#&gt;
        PREFIX ocse: &lt;erk:/ocse/0.2#&gt;
        SELECT ?entity ?tag
        WHERE {
            ?entity ocse:R1070 ?tag.
            ?tag :R1 "ocse:Linear_State_Feedback".
        }
    </code>
    <br>
    Select all entites, that have both of the tags "Convergence_To_Desired_Trajectory" and "Trajectory_Generation":
    <code style="display:block; white-space:pre-wrap">
    PREFIX : &lt;erk:/builtins#&gt;
    PREFIX ocse: &lt;erk:/ocse/0.2#&gt;
    SELECT ?entity
    WHERE {
        ?entity ocse:R1070 ?tag1.
        ?entity ocse:R1070 ?tag2.
        ?tag1 :R1 "ocse:Convergence_To_Desired_Trajectory".
        ?tag2 :R1 "ocse:Trajectory_Generation".
    }
    </code>
</span>
<br>

<h3>Resulting ACKREP Entities ({{ackrep_entities|length}}) </h3>
{% if ackrep_entities %}
    {% for e in ackrep_entities %}
        {{ e|first }}:
        {% include "ackrep_web/widgets/entity.html" with entity=e|last c=c display="short" only %}
    {% endfor %}
{% endif %}

<h3>Resulting General Entities from the Ontology ({{onto_entities|length}})</h3>
<style>
span#c_show_all {
    display:block;
}
input#show_all:checked ~ span#c_show_all {
    display:block;
}

input#hide_dubpl:checked ~ span#c_show_all {
    display:none;
}
span#c_hide_dubpl {
    display:none;
}
input#show_all:checked ~ span#c_hide_dubpl {
    display:none;
}

input#hide_dubpl:checked ~ span#c_hide_dubpl {
    display:block;
}
</style>

{% if onto_entities|length != onto_entities_no_dupl|length %}
    [
    <label for="show_all">
        <span class="fake_button">Show all</span>
    </label>
    <input type=radio id="show_all" name="group2">
    /
    <label for="hide_dubpl">
        <span class="fake_button"> Hide duplicates</span>
    </label>
    <input type=radio id="hide_dubpl" name="group2">
    ]
{% endif %}
<span id="c_show_all">
    {% if onto_entities %}
        {% for e in onto_entities %}
            {{ e|first }}:
            <pre>{{ e|last }}</pre>
        {% endfor %}
    {% endif %}
</span>
<span id="c_hide_dubpl">
    {% if onto_entities_no_dupl %}
        {% for e in onto_entities_no_dupl %}
            {{ e|first }}:
            <pre>{{ e|last }}</pre>
        {% endfor %}
    {% endif %}
</span>

{% endblock  %}
