{% extends "ackrep_web/base.html" %}
{% load static %}
{% block content %}

# !! replace `erk:/ocse/0.2` with {{SETTINGS_SPARQL_PREFIX_MAPPING.ocse}}

<h3>Search entities in ontology</h3>

{% if err %}
    <div class="errorbox">
        <pre>{{ err }}</pre>
    </div>
    {% if stacktrace %}
        <pre>{{ stacktrace }}</pre>
    {% endif %}
{% endif %}
<code>CTRL + SPACE</code> will take you to the PyERK entity search field.
<form action="{% url 'search-sparql' %}" method="GET" class="styled_form">
<!--    {% csrf_token %}-->
    <label for="query">SPARQL query:</label>
    <textarea id="query" name="query">{{ query }}</textarea>
    <br>
    <button id="btn_mr_submit" type="submit">Search</button>
</form>
{# --------------------- pyerk autocomplete item search --------------------- #}
<br>
<h4>Search the PyERK entities for an item / a relation and use it in the SPARQL query</h4>
Use <code>UP</code> and <code>DOWN</code> to navigate and <code>ENTER</code> to select.
<div id="autoComplete" class="autoComplete_wrapper" role="combobox" aria-owns="autoComplete_list_1" aria-haspopup="true" aria-expanded="false">
    <div  class="ac_input_wrapper">
        <input id="main-input" class="autocomplete-input" />
    </div>
        <p id="result-info"></p>
        <ul id="autocomplete-result-list" class="autocomplete-result-list"></ul>
</div>
{% block script %}
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  config: ["MMLorHTML.js"],
  loader: {load: ['ui/lazy']},
  jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"],
  extensions: ["MathMenu.js", "MathZoom.js"]
});
</script>

<script type="text/javascript" src="{% static 'ackrep_web/autocomplete2.js' %}"></script>

{% endblock %}
{# -------------------------------------------------------------------------- #}
{% if query %}
<code>
<pre>
{{ query }}
</pre>
</code>
{% endif %}

<b>Help and Examples for SPARQL Syntax:</b>
[
<label for="show">
    <span class="fake_button">Show</span>
</label>
<input type=radio id="show" name="group">
/
<label for="hide">
    <span class="fake_button"> Hide</span>
</label>
<input type=radio id="hide" name="group">
]
<span id="content">
    SPARQL queries can be read as a very simple sentence of subject, predicate (sometimes a auxiliary verb such as "has"
     or "is" is implied), object. E.g.
    <code style="display:block; white-space:pre-wrap">
    SELECT ?book
    WHERE
    {
        ?book has_author MarkTwain.
    }
    </code>
    selects all books of the author Mark Twain existing in the database. Depending on where the subject, predicate or
    object is defined, different prefixes have to be prepended (e.g. "rdf:", "rdfs:" for
    <a href="https://www.w3.org/TR/rdf-sparql-query/#docNamespaces">general namespaces</a> and "P:" for the
    <a href="https://github.com/ackrep-org/ackrep_data/blob/main/ontology/ocse-prototype-01.owl.yml">ackrep-specific namespace</a>).
    For a more detailed introduction to SPARQL Queries, see
    <a href="https://www.wikidata.org/wiki/Wikidata:SPARQL_tutorial#SPARQL_basics">Wikidata SPARQL tutorial</a>.
    <br><br>
    <b>Some examples of usefull queries in the ackrep context: </b>
    <br>
    Find the entity with a given key (e.g. UXMFA):
    <code style="display:block; white-space:pre-wrap">
    PREFIX : &lt;erk:/builtins#&gt;
    PREFIX ocse: &lt;erk:/ocse/0.2#&gt;
    SELECT ?entity
    WHERE {
        ?entity ocse:R2950__has_corresponding_ackrep_key "UXMFA".
    }
    </code>
    <br>
    Get all relations of all exising system models:
    <code style="display:block; white-space:pre-wrap">
        PREFIX : &lt;erk:/builtins#&gt;
        PREFIX ocse: &lt;erk:/ocse/0.2#&gt;
        SELECT ?relation
        WHERE {
            ?entity ?relation ?o.
            ?entity :R4__is_instance_of ocse:I7641__general_system_model.
        }
    </code>
    Get all relations that have a system model as first argument:
    <code style="display:block; white-space:pre-wrap">
        PREFIX : &lt;erk:/builtins#&gt;
        PREFIX ocse: &lt;erk:/ocse/0.2#&gt;
        SELECT ?relation
        WHERE {
            ?relation :R8__has_domain_of_argument_1 ocse:I7641__general_system_model.
        }
    </code>
    Note the difference between the two preceding queries!
    <br>
    <br>
    Get all pyerk items:
    <code style="display:block; white-space:pre-wrap">
        PREFIX : &lt;erk:/builtins#&gt;
        PREFIX ocse: &lt;erk:/ocse/0.2#&gt;
        SELECT ?item
        WHERE {
            ?item (:R4__is_instance_of|:R3__is_subclass_of)* :I1__general_item
        }
    </code>
    <br>
    <b>Some more useful and complex queries:</b><br>
    Find all system models that are represented by a partial differential equation:
    <code style="display:block; white-space:pre-wrap">
        PREFIX : &lt;erk:/builtins#&gt;
        PREFIX ocse: &lt;erk:/ocse/0.2#&gt;
        SELECT ?entity
        WHERE {
            ?entity :R4__is_instance_of ocse:I7641__general_system_model.
            ?entity ocse:R2928__has_model_representation ?representation.
            ?representation :R4__is_instance_of ocse:I8063__partial_differential_equation.
        }
    </code>
    <br>
    Find all system models that have system order of 3 and are autonomous
    <code style="display:block; white-space:pre-wrap">
        PREFIX : &lt;erk:/builtins#&gt;
        PREFIX ocse: &lt;erk:/ocse/0.2#&gt;
        SELECT ?model
        WHERE
        {
            ?model   ocse:R9125__has_input_dimension        0.
            ?model   ocse:R2928__has_model_representation   ?repr.
            ?repr    ocse:R2112__has_state_dimension        3.
        }
    </code>
    <br>
    <b>Note: Tags of problems and solutions are depricated and will soon be implemented in pyerk.</b>
    <br>
    Select all ackrep entities that use linear state feedback:
    <code style="display:block; white-space:pre-wrap">
        PREFIX : &lt;erk:/builtins#&gt;
        PREFIX ocse: &lt;erk:/ocse/0.2#&gt;
        SELECT ?entity ?tag
        WHERE {
            ?entity ocse:R1070__has_old_tag ?tag.
            ?tag :R1__has_label "ocse:Linear_State_Feedback".
        }
    </code>
    <br>
    Select all entites, that have both of the tags "Convergence_To_Desired_Trajectory" and "Trajectory_Generation":
    <code style="display:block; white-space:pre-wrap">
    PREFIX : &lt;erk:/builtins#&gt;
    PREFIX ocse: &lt;erk:/ocse/0.2#&gt;
    SELECT ?entity
    WHERE {
        ?entity ocse:R1070__has_old_tag ?tag1.
        ?entity ocse:R1070__has_old_tag ?tag2.
        ?tag1 :R1__has_label "ocse:Convergence_To_Desired_Trajectory".
        ?tag2 :R1__has_label "ocse:Trajectory_Generation".
    }
    </code>
</span>
<br>
{% load extra_filters %}
<h3>Results ({{table_data|length}}) </h3>
{# insert unittest json data (udjd) #}
{{ table_data|length|json_script:"utjd_n_results" }}
{% if table_data %}
    <table class="res_table">
        <thead>
            <tr>
                {% for head in table_head %}
                    <th style="width:{{col_width}};">{{head}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table_data %}
                <tr>
                    {% for cell in row %}
                        {% if cell|is_entity == True %}
                            <td>
                                Model of {{cell.name}}
                                (<a href="/e/{{cell.key}}" title="show details">{{cell.key}}</a>)
                            </td>
                        {% else %}
                            <td>{{cell}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


<style>
span#c_show_all {
    display:block;
}
input#show_all:checked ~ span#c_show_all {
    display:block;
}

input#hide_dubpl:checked ~ span#c_show_all {
    display:none;
}
span#c_hide_dubpl {
    display:none;
}
input#show_all:checked ~ span#c_hide_dubpl {
    display:none;
}

input#hide_dubpl:checked ~ span#c_hide_dubpl {
    display:block;
}
</style>

<span id="c_show_all">
    {% if onto_entities %}
        {% for e in onto_entities %}
            {{ e|first }}:
            <pre>{{ e|last }}</pre>
        {% endfor %}
    {% endif %}
</span>
<span id="c_hide_dubpl">
    {% if onto_entities_no_dupl %}
        {% for e in onto_entities_no_dupl %}
            {{ e|first }}:
            <pre>{{ e|last }}</pre>
        {% endfor %}
    {% endif %}
</span>

{% endblock  %}
