.form-errors {
    color: red;
    font-weight: bold;
}

footer {
    margin-top: 30px;
    color: rgb(190, 190, 190);
    font-size: 8pt;
}

.hr_style_gradient {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 40%, rgba(0, 0, 0, 0.75) 60%, rgba(0, 0, 0, 0));
}

.opacity30 {
    opacity:0.3;
}

.entity {
    padding: 5px;
    margin-bottom: 5px;
    background-color:hsl(10, 10%, 95%);
    border-radius:4px;
    border: solid 2px;
    border-color:hsl(10, 0%, 80%);
}

.entity pre {
    font-size: 8pt;
}

.entity img {
    display: block;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;

    box-shadow:4px -3px 17px 7px rgba(0,0,0,0.12);
    border-radius:2%;
}

/*style the result of check-solution (success or fail)*/
.cs_result {

    font-size: 10pt;
    padding-left:3px;
    padding-right:3px;
    background-color:hsl(10, 10%, 90%);

    border-radius:2px;
    border: solid 1px;
    border-color:hsl(10, 0%, 80%);
}
.cs_success {
    color:hsl(120, 60%, 30%);
}

.cs_fail {
    color:hsl(0, 90%, 45%);
}


.debug_output {
    padding: 5px;
    font-size: 8pt;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    background-color: hsl(0, 15%, 95%);;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.footer_link_menu {

    margin-top: 2em;
    float:right;
    position:relative;
    bottom: 5px;
}

.styled_form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 100%;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 4px;

    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 20px;
}

.styled_form label {
    grid-column: 1;
    justify-self: right;
}

.styled_form input, textarea {
    grid-column: 2;
}

.styled_form textarea {
    resize: none;
    height: 10em;
}

.styled_form button {
    grid-column: 2;
    width: min-content;
    justify-self: right;
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.layout_horizontal {
    display: flex;
    align-items: center;
}

.layout_horizontal > * {
    flex: 1 1 auto;
}

.mr_description {
    display: block;
    width: 90%;
    resize: none;
    height: 10em;
    margin: auto;
}

.mr_info {
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 5px;
}

.mr_info > * {
    margin-top: 10px;
    margin-bottom: 10px;
}

#btn_delete_mr {
    color: red;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
form li + li {
    margin-top: 1em;
}

.button {
/* Align buttons with the text fields */
padding-left: 90px; /* same size as the label elements */
}


.pseudocol {
    display: inline-block;

}
.pseudocol button {
    width: 100%;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
    display:block;
    text-align:center;

}

.w69 {
    width: 69%;
}

.w30 {
    width: 30%;
}

.styled_form button {
/* This extra margin represent roughly the same space as the space
    between the labels and their text fields */
margin-left: .5em;
}

