


<div class="entity">
    <b>Name:</b> {{entity.name}}
    (Key: <a href="{% url 'entity-detail' entity.key %}" title="show details">{{entity.key}}</a>)<br>
    <b>Path:</b> <tt>{{entity.base_path}}</tt><br>
    <b>Type:</b> {{entity.type}}<br>

{% if display == "full"%}
<!--utc_entity_full -->

    <b>Created:</b> {{entity.creation_date}}<br>

{#--------------------------------------------------------------------------------------------------------------------#}
{% if entity.type == "problem_solution"%}
    <b>Solved Problems:</b>
    {% for e in entity.oc.solved_problem_list %}
    {# TODO: add more information in mouseover #}
    <a href="{% url 'entity-detail' e.key %}" title="mouseover">{{e.key}}</a>
    {% endfor %}
    <br>
    <b>Used Methods:</b>
    {% for e in entity.oc.method_package_list %}
    {# TODO: add more information in mouseover #}
    <a href="{% url 'entity-detail' e.key %}" title="mouseover">{{e.key}}</a>
    {% endfor %}

    {% if c.view_type == "detail" %}
<!--utc_entity_detial -->
    <br>
    <b>Estimated Runtime:</b> {{entity.estimated_runtime}}
    <br>
    <a href="{% url 'check-solution' entity.key %}">check this solution</a> (this might take some time)<br>
    {% elif c.view_type == "check-solution"%}
<!--utc_check_solution -->
    <br>
    <b>Runtime:</b> {{c.diff_time_str}} (estimated: {{entity.estimated_runtime}})<br>
    <b>Result:</b> <span class="cs_result {{c.cs_result_css_class}}">{{c.cs_verbal_result}}</span><br>
        {% if c.image_list %}
        <b>Plot:</b><br>
        <img src="{{c.image_list.0}}"><!--utc_img_url:<{{c.image_list.0}}> --><br>

        {% endif %}
        {% if c.debug %}
        <b>Debug:</b>
        <div class="debug_output">
        {{c.debug}}
        </div>
        {% endif %}
    <b>Output:</b><br>
    <pre>{{c.cs_result.stdout}}</pre>
    {% endif %}
{% endif %} {# end if display == "full" #}
{#--------------------------------------------------------------------------------------------------------------------#}


{% else %}
<!--utc_entity_short -->
{% endif %}
</div>







