<script>          
    function setDefaultValue(id)
    {
      localStorage.setItem('status', id);
    }

    function getDefaultValue()
    { 
      var valId=localStorage.getItem('status'); 
      document.getElementById("valId").checked = true;
    //   localStorage.removeItem('status');
    }
</script>
{% if display == "full"%}
<script type="text/javascript">
    window.onload = function(){
        var valId = localStorage.getItem('status'); 
        if (document.getElementById(valId) != null) {
            document.getElementById(valId).checked = true;
            scrollTo(0, localStorage.getItem("scroll_y"));
        }
    }
    window.onbeforeunload = function() {
        localStorage.setItem("scroll_y", scrollY)
    }
</script>

{% endif %}

<div class="entity">
    <b>Name:</b> {{entity.name}}
    (Key: <a href="{% url 'entity-detail' entity.key %}" title="show details">{{entity.key}}</a>)<br>
    <b>Path:</b> <tt>{{entity.base_path}}</tt>
    {% if c.source_code_link %}
            <a id="source_code_link" title="view on GitHub" href={{c.source_code_link}}>View on GitHub</a>
    {% endif %}
    <br>
    <b>Type:</b> {{entity.type}}<br>
    
    {% if display == "full"%}
    <!--utc_entity_full -->
    <b>Short Description:</b> {{entity.short_description}}<br>
    <b>Created:</b> {{entity.creation_date}}<br>
    {% if c.env_key %}
        <b>Compatible Environment:</b> {{c.env_name}} (Key: <a href="{% url 'entity-detail' c.env_key %}" title="show details">{{c.env_key}}</a>)<br>
    {% endif %}
    {% if c.source_code_container.object_list %}
    <b>Source Code</b>
    [<label for="show">
        <span class="fake_button">Show</span>
    </label>
    <input type=radio id="show" name="group" value="show" onchange="setDefaultValue('show');">
    /
    <label for="hide">
        <span class="fake_button"> Hide</span> 
    </label>    
    <input type=radio id="hide" name="group" value="hide" onchange="setDefaultValue('hide');">
    ]
    <span id="content">
        {% for obj in c.source_code_container.object_list %}
            <b>{{obj.file_name}}</b>
            
            <pre><code id="{{obj.id}}">{{obj.source_code}}</code></pre>
           
        {% endfor %}

    </span>
    <br>
    {% endif %}
{#--------------------------------------------------------------------------------------------------------------------#}
<!-- PROBLEM -->
    {% if entity.type == "problem_specification" %}
        <b>Available solutions:</b>
        {% for e in entity.available_solutions_list %}
            {# TODO: add more information in mouseover #}
            <br>
            <a href="{% url 'entity-detail' e.key %}" title="{{e.short_description}}">{{e.name}}</a>
        {% endfor %}
        <br>
        <b>Related System Models:</b>
        {% for e in entity.oc.related_system_models_list %}
            {# TODO: add more information in mouseover #}
            <br>
            <a href="{% url 'entity-detail' e.key %}" title="{{e.short_description}}">{{e.name}}</a>
        {% endfor %}
        <br>

<!-- SOLUTION -->
    {% elif entity.type == "problem_solution"%}
        <b>Solved Problems:</b>
        {% for e in entity.oc.solved_problem_list %}
            {# TODO: add more information in mouseover #}
            <a href="{% url 'entity-detail' e.key %}" title="{{e.short_description}}">{{e.name}}</a> &nbsp; |  &nbsp;
        {% endfor %}
        <br>
        <b>Used Methods:</b>
        {% for e in entity.oc.method_package_list %}
            {# TODO: add more information in mouseover #}
            <a href="{% url 'entity-detail' e.key %}" title="{{e.short_description}}">{{e.name}}</a>
        {% endfor %}
        <br>
        {% include "ackrep_web/widgets/results.html" with c=c entity=c.entity only%}
        
<!-- SYSTEM_MODEL -->
    {% elif entity.type == "system_model" %}
        <b>Related Problems:</b>
        {% for e in entity.related_problems_list %}
            {# TODO: add more information in mouseover #}
            <br>
            <a href="{% url 'entity-detail' e.key %}" title="{{e.short_description}}">{{e.name}}</a>
        {% endfor %}
        <br>
        <b>Extensive Material:</b><br>
        {% for pdf in c.pdf_list %}
            <a href="{{pdf}}">Download pdf</a><br>
        {% endfor %}

        {% include "ackrep_web/widgets/results.html" with c=c entity=c.entity only%}

<!-- NOTEBOOK -->
    {% elif entity.type == "notebook"%}
        {% include "ackrep_web/widgets/results.html" with c=c entity=c.entity only%}

    {% endif %} {#entity.type#}
{#--------------------------------------------------------------------------------------------------------------------#}




{% endif %} {#display full#}
</div>









